
[hub]
protocol = https

[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
	attributesfile = ~/.gitattributes
	whitespace = trailing-space,space-before-tab
[user]
	name = goncalo
	email = github@goncalopereira.com
[color]
	ui = true
[push]
	default = current
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
